* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.small-container {
  padding: 10px;
  line-height: 1.6rem;
}

.btn {
  border: none;
  margin: 10px;
  margin-right: 10px;
  padding: 4px 6px;
  background-color: var(--turk);
  color: var(--espresso);
  font-size: 1.4rem;
  font-family: cursive;
  border-radius: 8px;

}

.btn:hover {
  background-color: var(--espresso);
  color: var(--light);
}

a {

  color: var(--light);
  text-decoration: none;
  margin: 0 10px;
  width: 50px;

}

a:hover {

  font-weight: 900;
}

.font {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  color: var(--turk);


}


.nav {
  text-decoration: none;
  color: var(--turk);
  font-weight: 700;
}

.nav:hover {
  text-decoration: underline;
  color: var(--espresso);
  font-weight: 800;

}

/* main colors */

.active {
  text-decoration: underline;
  color: var(--espresso);
  font-weight: 900;
  font-size: large;
}

:root {
  --light: #E4E0E1;
  --nes: #D6C0B3;
  --espresso: #AB886D;
  --turk: #333;



}

body {
  background-color: var(--espresso);
  color: var(--light);
  font-family: cursive;
  font-weight: 100;
  line-height: 1.6rem;

}

.long-txt {
  color: var(--nes);
  cursor: pointer;
  margin-left: 5px;
}

.filter-h2 {
  cursor: pointer;
  margin: 20px;
  font-size: 2rem;
  padding: 10px;
}

.filter-h2:hover {
  color: var(--turk);
}

.footer {
  text-align: center;
  color: var(--espresso);
  background-color: var(--turk);
  padding: 20px;
  margin-top: 30px;
  box-shadow: -4px -5px 10px var(--turk);


}

.header-flex {
  background-color: var(--turk);
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--nes);
  box-shadow: 4px 5px 10px var(--turk);
  font-family: "Edu AU VIC WA NT Pre", cursive;

}

.team-container {
  background-color: var(--turk);
  color: var(--turk);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: 4px 4px 20px var(--turk);
}

.team-container img {
  width: 280px;
  height: 300px;


}

.team-box {
  text-align: center;
  background-color: var(--light);
  padding: 10px;
  width: 32%;
  box-shadow: 4px 4px 20px var(--light);
  transition: all 1s;
}

.team-box:hover {
  transform: scale(1.1);
  opacity: 0.9;
  rotate: 5deg;
  border-radius: 10px;
}

.header-flex span {
  color: var(--espresso);

}

.nav-flex {
  display: flex;
  gap: 20px;
  color: var(--nes);
  padding: 10px;

}

.container {
  width: 90%;
  padding: 50px;
  margin: 0 auto;
}

.container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--turk);
}

.home-flex {

  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  background-color: var(--turk);
  text-align: center;
  box-shadow: 4px 5px 20px var(--turk);
  transition: all 2s 0.5s;

}

.home-flex:hover {
  transform: scale(0.9);


}

.home-box {
  padding: 20px;
  background-color: var(--light);
  box-shadow: 5px 4px 20px var(--light);
  transition: all 1s ease;
}

.home-box:hover {
  transform: scale(1.4);
  box-shadow: 5px 4px 20px var(--turk);
  opacity: 0.85;
}



.book-img {
  width: 100px;
  height: 150px;
}

.book-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  margin: 0 auto;
  background-color: var(--turk);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 20px var(--turk);
  transition: all 1s;
}

.book-info:hover {
  transform: scale(1.1);

}

.book-info h2,
.book-info h3 {
  margin: 20px 5px;
}

.book-title {
  width: 60%;
  margin: 0 auto;
}

.review-form {

  width: 90%;
  margin: 20px auto;
  background-color: var(--turk);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 20px var(--turk);
  transition: all 1s;
}

.review-form:hover {
  transform: scale(1.1);

}

.review-form button,
.book-box button {

  background-color: var(--espresso);
  color: var(--turk);
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-weight: 800;
  font-family: cursive;




}

.bright {
  color: yellow;
}


.filter-btn {
  background-color: var(--turk);
  color: var(--light);
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-weight: 800;
  font-family: cursive;
  margin-top: 20px;
  font-size: 1.5rem;
  transition: all 1s;
}

.filter-btn:hover {
  color: var(--espresso);
  transform: scale(1.1);
}

.review-form button:hover,
.book-box button:hover {
  background-color: var(--light);
  color: var(--nes);
}


.review {
  background-color: var(--nes);
  padding: 10px;
  margin: 10px;


  color: var(--turk);
  border-radius: 8px;
}

img {
  margin-top: 20px;
  max-width: 500px;

}

.form-flex {
  background-color: var(--turk);
  color: var(--nes);
  width: 70%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 3px 20px var(--turk);
  display: flex;
  flex-wrap: wrap;

}



input {
  border: none;
  border-radius: 8px;
  border-bottom: #493628 solid 1px;
  background-color: var(--light);
  padding: 8px;
  margin: 10px;
}

.btn-flex a {
  font-size: 1.2rem;
  color: var(--espresso)
}

.book-flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 95%;
  margin: 0 auto;
  padding: 40px;
  gap: 10px;
  background-color: var(--turk);

  border-radius: 8px;
  box-shadow: 2px 3px 20px var(--turk);
}

.book-box {
  padding: 20px;
  height: 100%;

  text-align: center;
  background-color: var(--light);
  color: var(--espresso);
  border-radius: 8px;
  line-height: 2rem;
  font-size: 25px;
  box-shadow: 2px 2px 20px var(--light);
  transition: all 1s;

}

.book-box p,
.book-box h2,
.book-box h3,
.book-box h5 {
  font-size: 1rem;
}

.book-box:hover {
  transform: scale(1.2);
  background-color: var(--light);
  color: var(--espresso);
  box-shadow: 10px 10px 40px var(--light);
  opacity: 0.8;


}

.book-box h2 {
  color: #AB886D
}

/* testing */
/* BookDetails Section */
.book-container {

  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  background-color: var(--light);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.book-title {
  font-size: 3rem;
  color: var(--turk);
  margin-bottom: 30px;
  font-family: 'Edu AU VIC WA NT Pre', cursive;
}

.book-details-box {
  background-color: var(--nes);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 2rem;
  color: var(--turk);
  font-weight: bold;
  margin-bottom: 15px;
}

.book-description {
  font-size: 1.4rem;
  color: var(--turk);
  line-height: 1.6;
  margin-bottom: 20px;
}

.book-meta {
  background-color: var(--light);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.meta-title {
  font-size: 1.6rem;
  color: var(--turk);
  margin-bottom: 10px;
}

.meta-content {
  font-size: 1.4rem;
  color: var(--turk);
  margin-bottom: 15px;
}

.book-price {
  background-color: var(--light);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 30px;
  color: var(--turk);
  font-size: 30px;
}

.price-title {
  font-size: 1.6rem;
  color: var(--turk);
  margin-bottom: 10px;
}

.price-content {
  font-size: 1.8rem;
  color: var(--espresso);
  font-weight: bold;
}

.price {
  color: var(--turk);
}




.btn-box {
  text-align: center;
  display: flex;
  flex-direction: column;

  gap: 2px;

}

.btn-link {
  font-size: 30px;
  padding: 10px;

}

.go-back-btn {
  background-color: var(--espresso);
  color: var(--light);
  padding: 12px 25px;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.go-back-btn:hover {
  background-color: var(--nes);
  color: var(--turk);
}


/* playing */

@media (max-width: 768px) {


  .container {

    /* padding: 20px; */
    width: 100%;
    padding: 10px;
  }



  .header-flex {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .header-flex span {
    font-size: 1.2rem;
  }


  .home-flex {
    flex-direction: column;
    padding: 20px;
  }


  .book-flex {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .form-flex {
    flex-direction: column;
    padding: 25px;
    width: 100%;
  }


  img {
    max-width: 100%;
    height: auto;
  }


  .btn {
    font-size: 1.2rem;
    padding: 6px 8px;
  }


  .nav-flex {
    flex-direction: column;
    gap: 10px;
  }


  input {
    width: 100%;
  }


  .container h1 {
    font-size: 2.5rem;
  }

  .book-info {
    width: 100%;
    padding: 15px;
    margin: 10px;
  }

  .review-form {
    width: 100%;
    padding: 15px;
    margin: 10px;
  }
}

/* @media (max-width: 480px) {

  .container h1 {
    font-size: 2rem;
  }


  .btn {
    font-size: 1rem;
    padding: 4px 6px;
  }

  .container {
    width: 95%;
    padding: 5px;
  }


  .home-box {
    padding: 15px;
  }


  .book-flex {
    grid-template-columns: 1fr;
    padding: 20px;
  }


  .form-flex {
    padding: 25px;
  }

  .nav {
    font-size: 1rem;
  }

  .book-info {
    width: 100%;
    padding: 5px;
    margin: 1px 1px;
  }
} */

.red {
  color: lightcoral;
}

.green {
  color: green;
}

.span {
  color: var(--espresso);
  font-size: 1.8rem;
  font-weight: 800;
}

.sale-tag {
  color: red;


}

.sale {
  position: absolute;
  left: 90%;
  top: 5%;
  rotate: 10deg;
  color: red;
  font-weight: 900;
  transform: scale(3);
}


.user-msg {
  position: fixed;
  top: 6.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0.5rem;
  min-width: 200px;
  max-width: 450px;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease-in-out;
  text-align: center;
}

.success {
  background-color: #A7D477
}

.error {
  background-color: lightcoral;
}

.close-btn {
  padding: 5px;
  border: none;
  border-radius: 8px;
  background-color: var(--nes);
}

.close-btn:hover {
  background-color: var(--turk);
  color: var(--nes)
}

.google-container {
  background-color: var(--turk);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 90%;
  box-shadow: 4px 4px 10px var(--turk);
}

.google-container button {
  padding: 5px 6px;
  border: none;
  border-radius: 10px;
  background-color: var(--light);
  color: var(--turk);
  font-weight: 900;
}

.google-container button:hover {
  background-color: var(--espresso);


}

.google-books {
  list-style: none;
  background-color: var(--light);
  color: var(--espresso);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 4px 4px 10px var(--light);
}



.google-books li {
  border-bottom: #333 1px solid;
  padding: 10px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.google-books button {
  padding: 5px 6px;
  border: none;
  border-radius: 10px;
  background-color: var(--turk);
  color: var(--light);
  font-weight: 900;
}

.google-books button:hover {
  background-color: var(--espresso);
  color: var(--turk);
}

.google-books li:hover {
  background-color: var(--turk);
  color: var(--nes);
}